* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background: none;
  border: none;
  outline: none;
  color: #ddd;
}

body {
  direction: rtl;
  background-image: url("https://picsum.photos/1280/720");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;

  /*
  وسط قراردادن محتویات بادی
  */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  width: 30%;
  min-height: 30%;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 30rem;
  min-height: 10rem;
  font-family: "Vazirmatn", sans;
}

h1 {
  text-align: center;
}

form {
  position: relative;
}

input {
  border-bottom: 2px solid;
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
}

input::placeholder {
  color: white;
}

button {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/assets/images/magnifier.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.links {
  margin-top: 1rem;
  direction: ltr;
  align-items: center;
  display: flex;
  justify-content: space-between;
  & a:hover {
    cursor: pointer;
    outline: 2px solid white;
    border-radius: 3px;
    transition: all 0.1s;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

a {
  text-decoration: none;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

a img {
  height: 0.9rem;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 3px;
  vertical-align: top;
}

a span{
  margin: 0;
  display: inline-block;
  line-height: .8rem;
}


.time-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  font-size: 1.2rem;
}


.quote {
  font-family: monospace !important;
  margin-top: 1rem;
  font-size: 1.2rem;
  direction: ltr;
  padding: 1rem;
  border-top: 1px solid white;
  font-size: medium;

  & p {
    font-size: 0.8rem;
    font-style: italic;
  }
}

